.container {
  background: transparent linear-gradient(0deg, #0a49af 0%, #0e5fe3 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
  color: #fff;
}

.heroContainer {
  padding: 8rem 0 5rem 0;
  margin-left: 3.2rem;
}

.HeroMobileImage {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

.heroBtn {
  font-family: "Nunito Sans";
  padding: 0.75rem;
  font-size: 1rem;
  margin: 2rem 0;
}

@media screen and (min-width: 915px) {
  .HeroMobileImage {
    display: none;
  }

  .heroDesktopImage {
    padding: 0 3rem;
  }

  .heroContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .heroText h1 {
    width: 100%;
    letter-spacing: -0.72px;
    font-size: 3rem;
  }
}

@media screen and (max-width: 1042px) {
  .heroText h1,
  .heroText p {
    width: 100%;
  }

  .heroText h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 915px) {
  .heroContainer {
    padding: 0;
    margin: 0;
  }
  .heroDesktopImage {
    display: none;
  }

  .heroText {
    display: flex;
    flex-direction: column;
  }

  .heroText h1,
  .heroText p {
    text-align: center;
    width: 100%;
  }

  .heroText h1 {
    letter-spacing: -0.48px;
  }

  .heroText p {
    font-size: 0.95rem;
    letter-spacing: 0.07px;
    margin: 1rem 0;
  }

  .heroBtn {
    padding: 0.75rem 4rem;
    margin: 0 auto 3rem;
  }
}

@media screen and (max-width: 914px) {
  .HeroMobileImage {
    margin: 3rem 4rem;
  }

  .heroText {
    margin: auto;
    width: 80%;
  }
}

@media screen and (max-width: 440px) {
  .heroText {
    width: 100%;
  }

  .heroText h1 {
    font-size: 2rem;
  }

  .HeroMobileImage {
    margin: 1rem 1rem 1.5rem;
  }
}
