.container {
  background: #f6f7f8;
}

.sharingSection {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 4rem 0 2rem 0;
}

.sharingText {
  margin-left: 2rem;
}

.sharingText h2 {
  letter-spacing: -0.54px;
  color: #0a49af;
  margin-bottom: 1rem;
}

.sharingText p {
  width: 70%;
  color: #191919cc;
}

.secondParagraph {
  margin-top: 0.5rem;
}

.sharingImage {
  margin: 0 5rem 0;
}

@media screen and (max-width: 915px) {
  .sharingSection {
    flex-direction: column-reverse;
  }

  .sharingImage {
    padding: 4rem;
    margin: 0 2rem 0;
  }

  .sharingText {
    margin-left: 4rem;
    text-align: left;
  }

  .sharingText p {
    width: 80%;
    font-size: 0.875rem;
    letter-spacing: 0.07px;
  }
}
@media screen and (max-width: 700px) {
  .sharingSection {
    flex-direction: column-reverse;
  }

  .sharingImage {
    padding: 0;
    margin: 0;
  }

  .sharingText {
    margin-left: 1rem;
    text-align: left;
  }

  .sharingText p {
    width: 100%;
  }
}
